.nav {
    background-color:rgb(88, 25, 25);
    overflow:auto;
}
  *{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .nav a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 40px;
    text-decoration:double;
    font-size: 17px;
  }
    img {
      width: 150px;
      float: left;
}
  
.nav a:hover {
    background-color: #ddd;
    color: black;
  }

.text h4 {
    text-align: center;
    padding-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.text h1 {
    text-align: center;
    padding-top: 10px;
    color: rgb(88, 25, 25);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#about {
    background-color: rgb(235, 233, 233);
    padding-top: 50px;
}

#about h1 {
    color: #000000;
}

#about p {
    color: rgb(73, 73, 73);
    padding: 40px;
}
.footer-logo {
    overflow:auto;
    float:left;
    display: block;
    padding: 20px 40px;
    font-size: 17px;
    margin-left: 10px;
}

.footer p {
    margin-top: 10px;
}
map {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    padding-bottom: 30px;
}